    .intro {
        /*background-size: 100% 100%;*/
        display: flex;
        flex-wrap: no-wrap;
        flex-direction: column;
        text-align: center;
        background: url('../images/intro_background.png') no-repeat;
        background-size: 100%;
    }
    
    .pageBackGround {}
    
    .introContent {
        margin-top: 10vh;
    }
    
    .heading {
        /* font-family: "proxima-nova";*/
        font-size: 2vw;
        line-height: 1em;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 700;
        font-style: normal;
        color: #fff;
        margin-top: 0px;
        font-family: sans-serif;
    }
    
    .subText {
        font-family: sans-serif;
        font-size: 1vw;
        line-height: 1.5em;
        text-transform: none;
        letter-spacing: 1px;
        font-weight: 400;
        color: white;
    }
    
    .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 7vh;
    }
    
    .button {
        margin: 2vh;
        color: white;
        border-width: 2px;
        border-style: solid;
        border-color: white;
        padding: 1.5vh;
        margin-right: 1vh;
        margin-left: 1vh;
    }
    
    .button:hover {
        color: black;
        background: white;
        transition: .3s ease;
    }
