@import url("../globalVariables.css");  

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #EDEEEF
}

.contact
{
	width:100%;
}
.contact .contactContainer
{
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:100%;
}

.contact .contentContainer {
 	display:flex;
 	flex-direction:row;
 	justify-content:space-around;
 	width:100%;
}

.contact form
{
    flex-direction: column;
    justify-content: center;
}

.contact .inputForm { 
	
	flex-direction: column;
	justify-content: space-around;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 50%;
    align-self: center;
    margin-bottom: 10vh;
}

.contact .contactInfo
{
	display:flex;

}

.contact h1 {
    font-size: var(--componentTitle);
    line-height: 1em;
    letter-spacing: 4px;
    font-weight: 700;
    font-style: normal;
    color: black;
    margin: 5vh;
    font-family: sans-serif;
    text-align: center;
}



