
@import url("../globalVariables.css");  

.portContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EDEEEF;
}

.portContainer .itemContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
    width: 100%;
    flex-wrap: wrap;

}

.itemContainer .imageSize
{
    display: flex;

    flex: 1;
    flex-shrink: 1;
}

.portContainer a {
    /*Flex*/
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex: 1;
    /*Text*/
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: var(--secondHeading);
    color: rgba(255, 255, 255, .8);
    font-weight: bold;
    text-transform: uppercase;
    /*Border*/
    border-style: solid;
    border-width: 2px;
    border-color: white;
    /*Color*/
    background: black;
	/*Margin*/
	margin: 6vw;
    max-height: 50%;

}

.portContainer a:hover {
    background: #EDEEEF;
    color: black;
    border-color: black;
    transition: all .3s ease;
}

.portContainer h1 {
    color: black;
    text-align: center;

    margin-top: 5vw;
}

.portContainer h1 {
    font-size: var(--componentTitle);
    line-height: 1em;
    letter-spacing: 4px;
    font-weight: 700;
    font-style: normal;
    color: black;
    margin: 5vh;
    font-family: sans-serif;
}
