@import url("../globalVariables.css");  

.nav {
    display: flex;
    justify-content: center;
    position: absolute;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%
}

.nav .navFelxContainer {
    justify-content: space-around;
    flex-direction: row-reverse;
}


.nav h1 {
    color: rgba(255, 255, 255, .8);
    font-size: calc( 1vh + 1vw);
}

.nav h1:hover {
    color: white;
}

  .nav .button {
        margin: 2vh;
        color: white;
        border-width: 1.5px;
        border-style: solid;
        border-color: white;
        padding: 1.5vh;
        margin-right: 1vh;
        margin-left: 1vh;
    }
    
    .nav .button:hover {
        color: black;
        background: white;
        transition: .3s ease;
    }


.nav .logo {
    width: 8vw;
    height: 8vw;
}
