@import url("../globalVariables.css");  


.container {
    background: #262626;
    display: flex;
    flex-direction: column;
    color: white;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: sans-serif;
    color: #5D5D60;
    scroll-behavior: smooth;
}

.container h1:hover {
    color: white;
}

.callText p {

    color: #5D5D60;
    font-size: var(--navItems);
    text-align: center;
}

.imageIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.imageIcons img {
    width: 40px;
    height: 40px;
}

a {
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
}

a:hover {
    color: white;
}

.container img:hover
{
	 transition: all .5s ease;
	 transform:scale(1.1);
}

.footer h1
{
    font-size: var(--navItems);
}



